{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid 
  assign all_products_count = section.settings.featured_collections.all_products_count
  assign products-to-show = section.settings.products-to-show
  assign swipe_on_mobile = section.settings.swipe_on_mobile

  if all_products_count > products-to-show
    assign all_products_count = products-to-show
    assign more_in_collection = true
  endif
-%}

<div class="collection page-width">
  <div class="title-wraper-with-link">
      <h2 class="title">{{ section.settings.title | escape }}</h2>

      {%- if section.settings.view_all and swipe_on_mobile and more_in_collection -%}
      <a href="{{ section.settings.featured_collections.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
      {%- endif -%}
  </div>

  <slider-component class="slider-mobile-gutter">
      <ul class="grid grid--2-col product-grid" role="list">
          {%- for product in section.settings.featured_collections.products limit: section.settings.products-to-show -%}
            <li class="grid__item">
              {%- render 'product-card',
                  product_card_product: product,
                  media_size: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image
                  add_image_padding: section.settings.add_image_padding
                  show_vendor: section.settings.show_vendor
                  show_image_outline: section.settings.show_image_outline
                  show_rating: section.settings.show_rating
              -%}
            </li>
          {%- else -%}
            {%- for i in (1..4) -%}
            <li class="grid__item">
              {%- render 'product-card-placeholder' -%}
            </li>
            {%- endfor -%}
          {%- endfor -%}
      </ul>
      {%- if all_products_count > 2 and swipe_on_mobile and products-to-show > 2 -%}
        <div class="slider-buttons no-js-hidden">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="previous slide">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="slider-counter--total">{{ all_products_count }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="next slide">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
  </slider-component>

  {%- if section.settings.show_view_all and more_in_collection -%}
    <div class="center">
      {% comment %} <a href="{{ section.settings.featured_collections.url }}" class="button">{{ 'sections.featured_collection.view_all' | t }}</a> {% endcomment %}
      <a href="{{ section.settings.featured_collections.url }}" class="button">Show All Featured Collection</a>
    </div>
  {%- endif -%}
  <p>{{ section.settings.featured-collection-title }}</p>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "featured-collection-title",
      "default": "This is Featured Collection Section",
      "label": "Title for Featured Collection"
    },
    {
      "type": "collection",
      "id": "featured_collections",
      "label": "Pick Your Collection"
    },
    {
      "type": "range",
      "id": "products-to-show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Number of Products to Show"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show View All"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}