<nav class="fixed-top col-md-2">
  <div class="burger">
  </div>
  <div class="logo-mobile">
  </div>
  <div class="menu">
    <div class="top">
        <a href="#home">
            <div class="logo">
                {%- assign logo_width = section.settings.logo_width | append: 'x' -%}
                <img src = "{{ section.settings.logo | img_url: logo_width }}"
                class = "sidebar-logo img-fluid"
                loading = "lazy"
                width = "{{ section.settings.logo.width }}"
                height = "{{ section.settings.logo.height }}"
                >
            </div>
        </a>
    </div>
    <div class="middle">
        <ul>
            {% comment %} Loop through the links menu here {% endcomment %}
            {%- for link in section.settings.sidebar_menu.links -%}
                <li>
                    <a href="{{ link.url }}">
                        {{ link.title }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </div>
    <div class="bottom">
        {% comment %} Predictive search? {% endcomment %}
    </div>
  </div>
</nav>

{% schema %}
    {
        "name": "Sidebar New",
        "settings": [
            {
                "type": "link_list",
                "id": "sidebar_menu",
                "label": "Sidebar Menu"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Add Logo Image"
            },
            {
                "type": "range",
                "id": "logo_width",
                "min": 50,
                "max": 250,
                "step": 5,
                "default": 100,
                "unit": "px",
                "label": "Custom Logo Width"
            }
        ]
    }
{% endschema%}